# === Python ===
*.pyc
*.pyo
__pycache__/
*.pkl
*.log

# Ignore face profile and runtime files
face_profiles.pkl

# Ignore environment and dependency folders
.env/
.venv/
env/
venv/
.idea/
.vscode/

# === Arduino ===
*.hex
*.elf

# === SolidWorks ===
*.slddrw
*.bak
*.temp

# === MacOS ===
.DS_Store

# === Windows ===
Thumbs.db
desktop.ini
